    
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Commits List</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <!-- <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Refresh</a> -->
        <a class="nav-link fw-bold py-1 px-0" href="https://impulsolabs.com" target="_blank">Impulso Labs</a>
        <a class="nav-link fw-bold py-1 px-0" href="https://wa.link/eiwe48" target="_blank">Contact</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Commit List <small>for commits-project</small></h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Project developed for <a href="https://fulltimeforce.com/" class="text-white">FulltimeForce</a>, by <a href="https://wa.link/eiwe48" class="text-white" target="_blank">JM Sarmiento</a>.</p>
  </footer>