  <app-header class="mb-auto"></app-header>

  <main class="container-fluid">

    <app-main-static></app-main-static>

    <div class="row">
      <div class="col-sm-12">
        
        <div class="alert alert-info" role="alert" style="height: 100px; vertical-align:middle;" *ngIf="resultados.length === 0">
          <h3>Nothing to see yet!! Press update button</h3> 
        </div>

        <table class="table table-striped table-hover table-responsive table-light" *ngIf="resultados.length > 0">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Author</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commit of resultados">
              <td>{{commit.date}}</td>
              <td>{{commit.authorName}}</td>
              <td>{{commit.message}}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>


  </main>

  <app-footer class="mt-auto text-white-50"></app-footer>